<%= form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :slug, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :slug, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :kind, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :kind, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :thumb, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :thumb %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :category_id, Category.all.collect{|c| [c.name, c.id]}, :prompt => 'select a category' %>
    </div>
  </div>
  <div class="control-group">

    <!--<%= f.fields_for :images do |image_form| %>
      <%= image_form.label :file, :class => 'control-label' %>
      <div class="controls">
        <%= image_form.file_field :file %>
      </div>
    <% end %>-->

    


  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn' %>
  </div>
<% end %>
