<header class="main">
      <div class="slidescontainer">
        <div class="container">
          <div class="slides" id="slides">

            <img src="img/example-slide-1.jpg" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/">
            <img src="img/example-slide-2.jpg" alt="Photo by: Daniel Parks Link: http://www.flickr.com/photos/parksdh/5227623068/">
            <img src="img/example-slide-3.jpg" alt="Photo by: Mike Ranweiler Link: http://www.flickr.com/photos/27874907@N04/4833059991/">
            <img src="img/example-slide-4.jpg" alt="Photo by: Stuart SeegerLink: http://www.flickr.com/photos/stuseeger/97577796/">
            <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
            <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>

          </div>
        </div>
      </div>
      <script>
        $(function() {
          $('#slides').slidesjs({
            width: 940,
            height: 528,
            navigation: false
          });
        });
      </script>
      <div class="container">
        <div id="title">
          <h1>Design Portfolio<br /><span>of <strong>Jonathan Hoffman</strong></span></h1>
          <div class="url">www.j-hoff.com</div>
        </div>
        <nav>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Resume</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section id="taglines">
      <div class="container">
        <h2><span><strong>HI!</strong></span></h2>
        <h2><span>I'm a <strong>web/interactive designer.</strong></span></h2>
        <h2><span>I live in <strong>Brooklyn,</strong> and work at <strong>grey NY.</strong></span></h2>
      </div>
    </section>
    <section id="portfolio">
      <div class="container">
        <header>
          <nav>
            <ul>
              <li><a href="#">All</a></li>
              <li><a href="#">eCommerce</a></li>
              <li><a href="#">Brand Sites</a></li>
              <li><a href="#">Mobile</a></li>
            </ul>
          </nav>
        </header>
        <ul id="projects">
          <% @projects.each do |project| %>
          <li id="projectid<%= project.id %>" <% %> >
            <a href="#">
              <div class="image">
                <%= image_tag project.thumb.url %>
              </div>
              <div class="description">
                <div class="descriptioncontent">
                  <div class="titles">
                    <h3><%= project.title %></h3>
                    <h4><%= project.kind %></h4>
                  </div>
                  <p><%= project.description %></p>
                </div>
              </div>
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    </section>
